@import "../../assets//scss/variables";
@import "../../assets//scss/mixins";

.containerLoginFormStyle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: auto;
   width: auto;
   padding: 40px 0px;

   :nth-child(1) {
      img {
         height: 45px;
         width: auto;
      }
   }

   .loginFormStyle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: auto;
      height: auto;
      margin-top: 30px;
      margin-bottom: 80px;
      transition: ease-in 200ms;

      input {
         max-height: 45px;
         width: 350px;
         margin: 10px 3px;
         background-color: #ffffff;
         border-radius: 100px;
         padding: 10px;
         border: 1px solid #aaaaaa;
         letter-spacing: 1px;

         &:focus {
            outline: none;
         }
      }
      img {
         max-height: 35px;
         width: 35px;
      }
   }

   .loginTitleStyle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      color: #000000;
      top: 30px;
      margin-bottom: 12px;

      > :nth-child(1) {
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 1px;
      }

      > :nth-child(2) {
         font-weight: 600;
         letter-spacing: 1px;
         color: #acacac;
         font-size: 14px;
      }
   }

   .containerBtnStyle {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      width: 100%;

      > :nth-child(1) {
         height: 45px;
         width: 130px;
         background-color: #fc773e;
         border: none;
         border-radius: 100px;
         color: #ffffff;
         font-weight: bold;
         font-size: 15px;
         letter-spacing: 1px;
         display: flex;
         flex-direction: row;
         flex-basis: 40%;
         justify-content: flex-end;
         align-items: center;
         transition: all 200ms ease-out;

         &:hover {
            background-color: #fe4d00;
            cursor: pointer;
         }
      }
   }

   .iconArrowLogin {
      height: 35px;
      width: 35px;
      background-color: #ffffffa6;
      border: 1px solid #ffffff;
      border-radius: 100%;
      margin: 0 10px;
   }

   .loginBottom {
      text-align: center;

      span {
         color: $primary;
         font-weight: $fw-700;
         padding: 0 6px;
         cursor: pointer;
      }
   }
}
